<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="index.html">HighTech<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/products">Products</a></li>
        <li><a class="nav-link scrollto" href="/about">About us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Privacy Policy</h2>
      <p>1- Who is collecting information?</p>
      <p>2- Information we collect</p>
      <p>3- How we use your information</p>
      <p>4- Where we store your data</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <div class="container">
    <br><br>
  <h1><b>1- Who is collecting information?</b></h1>
  HighTech International Europe Limited, a limited company registered in England and Wales under company number 664172
  whose registered office is at HighTech House, 1 Tame Street, Audenshaw, Manchester M34 5JE (“HighTech”) is the European
  headquarters of the HighTech group. HighTech International Europe Limited has branch offices in the European Union and
  there is also a network of HighTech sales offices throughout the European Union. Your local sales office is HighTech UK
  Limited, a limited company registered in England and Wales under company number 29301 whose registered office address
  is
  at Shepley Street, Audenshaw, Manchester M34 5JD. Both of these companies control data collected through or in
  connection with a Website or any of the online services listed above.
  <br>
  HighTech International Europe Limited is the European headquarters of HighTech Industries Limited, based in Nagoya
  Japan.
  HighTech is a global manufacturer and distributor of printer and sewing machinery and business solutions, operating in
  over 40 countries globally.
  <br>
  <h1><b>2- Information we collect</b></h1>
  HighTech may collect and process information about you such as:
  <br>
  <ul>
    <li>
      Information that you may provide when filling in forms on, or otherwise submitting or making available information
      to, a Website or service provided by HighTech. This includes for example:</li>
    <li>(a) information provided when registering as a user of a Website or for any services made available by HighTech;
      and</li>
    <li>(b) information provided in any documents, materials, communication or other content uploaded, transmitted,
      shared, distributed or otherwise made available by you in connection with your use of any Websites or services
      provided by HighTech; </li>
    <li>(c) your email address, browser IP address and billing address when performing fraud prevention checks on our
      Websites.</li>
    <li>If you contact us for any reason, HighTech may keep a record of that correspondence. </li>
    <li>Information that may be captured via any error logging and reporting tool that captures error report data and,
      at
      your option, sends this data to HighTech in order for HighTech to be informed of any software errors or problems
      that
      may occur during your use of a Website or any other HighTech services. </li>
    <li>
      Details of your visits to the Websites or use of any services, the activities you engage in when using the
      services
      made available by HighTech, whether or not via the Websites and the resources that you access on or via the
      Websites.
    </li>
  </ul>
  <h1><b>3- How we use your information</b></h1>
  HighTech may use information held about you in the following ways:
  <br>
  <ul>
    <li>To present content and information on the Websites in the most suitable manner for you and the equipment and
      devices
      from which you view the Websites;
    </li>
    <li>
      To provide you with information, products or services that you request from HighTech or which HighTech feels may
      interest
      you, where you have consented to be contacted for such purposes;

    </li>
    <li>
      To provide you with any services that you may request from HighTech from time to time (whether paid for or not), to
      communicate with you in relation to those services and to process any orders for products or services as
      appropriate;

    </li>
    <li>
      To conduct customer surveys and market research to help improve our products and services; or

    </li>
    <li>
      To manage and administer your accounts and contact you as may from time to time as necessary in connection with
      your
      use
      of the Websites and/or HighTech’s services, including, but not limited to, notifying you about changes to our
      website
      services and the basis on which these are provided.

    </li>
  </ul>
  In certain circumstances HighTech may provide third parties with aggregate information about users of its Websites or
  services. This may include information about your computer, including where available your IP address, operating
  system
  and browser type, for system administration, to identify and monitor potential sales markets and to report aggregate
  information to our advertisers. This is statistical data about our users' browsing actions and patterns, and does not
  identify any individual.
  <br>
  <h1><b>4- Where we store your data</b></h1>
  Generally, HighTech will store and process your personal information within the European Economic Area. However, the
  data
  that HighTech collects from you may be transferred to, and stored at, a country outside the European Economic Area, the
  laws of which may not provide the same level of protection for your data, although we will always ensure it receives
  an
  equivalent level of protection and that any organisations processing your personal data outside of the European Union
  or
  the HighTech Group must comply with our express instructions regarding your personal information.
  <br>
  Although HighTech will endeavour to protect your personal information once HighTech receives it, we are not responsible
  for your transmission of information to us via the internet which may not be completely secure. For the avoidance of
  doubt, HighTech accepts no liability for any loss or damage you may suffer as a result of your device settings or
  unsecure internet connection.
  <br>
  Where HighTech has given you, or where you have chosen, a password to access certain parts of a Website or your
  registered user account, you should not share this password with others.
  <br><br><br>
</div>