<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-scrolled">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html">HighTech<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
                <li><a class="nav-link scrollto" routerLink="/products">Products</a></li>
                <li><a class="nav-link scrollto" href="/about">About us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Laptops</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../../assets/img/Asus1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>ASUS VIVOBOOK S15 S513EP i7 11è Gén</h3>
              <ul>
                <li><strong>Brand: </strong>Asus</li>
                <li><strong>Price: </strong>2,779 dt</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Description</h2>
              <p>Écran 15.6" Full HD - Processeur: Intel Core i7-1165G7 (2.80 GHz up to 4.70 GHz Turbo max, 12 Mo Mémoire cache, Quad-Core) - Système d'exploitation: Windows 11 Famille - Mémoire RAM: 8 Go - Disque Dur: 512Go SSD - Carte Graphique: NVIDIA GeForce MX330 (2 Go de mémoire dédiée GDDR5) avec WiFi, Bluetooth, USB 3.2 Gen 1, USB-C™ 3.2 Gen 1, USB 2.0, HDMI et lecteur de carte microSD - Couleur: Silver - Garantie : 2 ans Retrait en Magasin ou Livraison Gratuite pour Cet Article</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
